<!DOCTYPE html>
<html lang="hun" dir="ltr">

  <head>
    <title>I.T. - BOT.I</title>
    <link rel="icon" type="image/png" href="/static/avatar.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>



  <body background="/static/feher_bg.png" onload="getFirstResponse('Hello');">


    <div id="chat-circle" class="btn btn-raised">
      <div id="chat-overlay"></div>
      <img  src="/static/chat.svg" width="75px" alt="Chat">
</div>

<div class="chat-box">

    <div class="chatbox-frame">
        
     

      <div class="chatbox-header">
        
       
        <div class="header-icon"></div>
        <div class="chatbox-title">
          <h3>Informatikai Igazgatóság Semmelweis Egyetem</h3>
          <h4 class="test-text">(Tesztelés alatt...)</h4>
        </div>

        <div class="header-icon">
          <img  id="buttonClose" src="/static/cancel.svg" width="20px" alt="Cancel">
        </div>
          
      </div>

      <div id="chatbox">
        <!--Nothing here in the beginning-->


      
      </div>
     

      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Üzenet..." autofocus>

        <img type="submit"  id="buttonInput" src="/static/send.svg" width="35px" alt="Kiwi standing on oval">
        
      </div>


    </div>

  </div>

 


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/function.js"></script>
    <script src="/static/animation.js"></script>
  </body>

</html>